In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt #visualizing data
%matplotlib inline
import seaborn as sns

In [15]:
df = pd.read_csv('intern.csv', encoding= 'unicode_escape')
#to avoid encoding error, use 'unicode_escape'

In [16]:
df.shape

(15, 3)

In [31]:
df.head(15)

    user_id           TimeStamp  Action  hour
0         1 2023-01-01 10:15:30    Like    10
1         2 2023-01-01 11:45:30  Commet    11
2         3 2023-01-02 12:30:15   Share    12
3         1 2023-01-02 14:45:00  Commet    14
4         4 2023-01-03 08:05:30    Like     8
5         2 2023-01-03 09:10:45   Share     9
6         3 2023-01-04 15:20:30    Like    15
7         1 2023-01-05 11:40:15   Share    11
8         4 2023-01-05 13:55:00  Commet    13
9         2 2023-01-06 17:10:30    Like    17
10        3 2023-01-07 18:25:45  Commet    18
11        1 2023-01-07 19:30:15    Like    19
12        2 2023-01-08 22:45:00   Share    22
13        3 2023-01-09 08:30:00  Commet     8
14        4 2023-01-09 09:05:45    Like     9

In [21]:
df.head(15)

    user_id              TimeStamp  Action
0         1  2023-01-01   10:15:30    Like
1         2  2023-01-01   11:45:30  Commet
2         3  2023-01-02   12:30:15   Share
3         1  2023-01-02   14:45:00  Commet
4         4  2023-01-03   08:05:30    Like
5         2  2023-01-03   09:10:45   Share
6         3  2023-01-04   15:20:30    Like
7         1  2023-01-05   11:40:15   Share
8         4  2023-01-05   13:55:00  Commet
9         2  2023-01-06   17:10:30    Like
10        3  2023-01-07   18:25:45  Commet
11        1  2023-01-07   19:30:15    Like
12        2  2023-01-08   22:45:00   Share
13        3  2023-01-09   08:30:00  Commet
14        4  2023-01-09   09:05:45    Like

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    15 non-null     int64
 1   TimeStamp  15 non-null     object
 2   Action     15 non-null     object
dtypes: int64(1), object(2)
memory usage: 488.0+ bytes

In [22]:
pd.isnull(df).sum()

user_id      0
TimeStamp    0
Action       0
dtype: int64

In [23]:
df.columns

Index(['user_id', 'TimeStamp', 'Action'], dtype='object')

In [24]:
total_action_by_user = df['user_id'].value_counts()

In [25]:
most_common_action = df['Action'].mode()[0]

In [26]:
user_with_highest_engagement = total_action_by_user.idxmax()

In [27]:
df['TimeStamp'] = pd.to_datetime(df['TimeStamp'])

In [28]:
df['hour'] = df['TimeStamp'].dt.hour

In [29]:
hourly_activity = df.groupby(['user_id', 'hour']).size().unstack(fill_value=0)

In [30]:
print("1. Total number of action performed by each user: ")
print(total_action_by_user)
print("\n2. Most common action performed by user: ")
print(most_common_action)
print("\n3. User with the highest engagement: ")
print(f"User ID: {user_with_highest_engagement}, Total Actions: {total_action_by_user.max()}")
print("\n4. Hourly user activity: ")
print(hourly_activity)

1. Total number of action performed by each user:
3    4
2    4
1    4
4    3
Name: user_id, dtype: int64

2. Most common action performed by user:
Like

3. User with the highest engagement:
User ID: 3, Total Actions: 4

4. Hourly user activity:
hour     8   9   10  11  12  13  14  15  17  18  19  22
user_id
1         0   0   1   1   0   0   1   0   0   0   1   0
2         0   1   0   1   0   0   0   0   1   0   0   1
3         1   0   0   0   1   0   0   1   0   1   0   0
4         1   1   0   0   0   1   0   0   0   0   0   0